<ion-content [fullscreen]="true">
  <ion-item color="dark">
    <ion-label button> Timer </ion-label>
    <ion-datetime display-format="mm:ss" [(ngModel)]="fullTime"></ion-datetime>
  </ion-item>
  <circle-progress
    (click)="startTimer()"
    [percent]="percent"
    [maxPercent]="100"
    [radius]="radius"
    [outerStrokeWidth]="17"
    [innerStrokeWidth]="2"
    [outerStrokeColor]="'#0ee30e'"
    [innerStrokeColor]="'red'"
    [animation]="false"
    [animationDuration]="300"
    [clockwise]="false"
    [responsive]="true"
    [subtitle]="formatSubtitle"
  >
  </circle-progress>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ng-container *ngIf="timer === false; else running">
      <ion-fab-button (click)="startTimer()" color="dark">
        <ion-icon name="play-sharp"></ion-icon>
      </ion-fab-button>
    </ng-container>
    <ng-template #running>
      <ion-fab-button (click)="stopTimer()" color="dark">
        <ion-icon name="stop-sharp"></ion-icon>
      </ion-fab-button>
    </ng-template>
  </ion-fab>
</ion-content>
